body,
html {
  margin: 0;
  padding: 0;
}

.section,
.form-container,
.map-container {
  box-sizing: border-box; /* Asegura que el padding y border sean incluidos en el ancho */
}

/* Contenedor principal */
#contacto {
    display: flex; /* Utiliza flexbox para organizar el mapa y el formulario */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: flex-start; /* Alinea los elementos al principio en el eje vertical */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si es necesario */
  }

/* Estilos generales para el formulario */
.form-container {
    width: 45%; /* Ancho ajustado para el margen */
    margin-right: 5%; /* Margen entre el formulario y el mapa */
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    min-height: 400px; /* Establecer altura mínima */
  }

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Mejora el estilo de los elementos del formulario */
input[type="text"],
input[type="email"],
textarea,
button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4caf50; /* Verde */
  color: white;
  border: none;
  cursor: pointer;
  width: auto; /* Permite ajustes de ancho personalizados */
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos para el contenedor del mapa */
.map-container {
    width: 45%; /* Mantener el mismo ancho que el formulario */
    height: 450px; /* Altura específica para el mapa */
    max-width: 1200px; /* Limita el ancho máximo para pantallas grandes */
    margin: 0; /* Elimina el centrado automático para alinear correctamente a la derecha */
}

/* Asegúrate de que el iframe ocupe el 100% del contenedor */
.map-container iframe {
    width: 100%; /* Ajusta el ancho del iframe al 100% */
    height: 100%; /* Ajusta la altura del iframe al 100% */
    border: 0; /* Sin borde */
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  #contacto {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: center; /* Alinea los elementos al centro */
  }

  .form-container,
  .map-container {
    width: 90%;
    margin-bottom: 20px;
  }
  .map-container {
    height: 300px;
  }
}

  
  /* Estilos generales para el formulario */

  
  /* Estilos para el contenedor del mapa */
