@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: rgb(129, 19, 49);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almendra SC", serif;
}
input{
  background-color: #ccc5c3;
}
body {
  background: linear-gradient(-45deg, #000000, #3D0000, #7a0101);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: grid;
  place-items: center;
}


a {
  font-family: 'Courier New', Courier, monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

::selection {
  background: #7b0000;
  color: #e90606;
}

.title {

  font-size: 70px;
  color: #EEE2DE;
  text-align: center;
}

.wrapper {
  overflow: hidden;
  max-width: 390px;
  background: #00000081;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 24px rgba(255, 6, 6, 0.89);
}

.wrapper .title-text,
.form-container .form-inner {
  display: flex;
  width: 200%;
}

.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px;
  justify-content: space-between;
  border: 0.15em solid var(--glow-color);
  border-radius: 15px;
  -webkit-box-shadow: inset 0px 0px 0.4em 0px var(--glow-color),
    0px 0px 0.4em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.4em 0px var(--glow-color),
    0px 0px 0.4em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.4em 0px var(--glow-color),
    0px 0px 0.4em 0px var(--glow-color);
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #ecc4c4;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label.signup {
  color: #000;
}

.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: linear-gradient(to left, #5e2534, #2e1825, #141e25);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
  display: none;
}

#signup:checked~.slider-tab {
  left: 50%;
}

#signup:checked~label.signup,
#login:checked~label.login {
  color: #bd0606;
  cursor: default;
  user-select: none;
}

#signup:checked~label.login,
#login:checked~label.signup {
  color: #2e2e2e;
}

.form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid #70044a;
  border-bottom-width: 5px;
  font-size: 15.5px;
  transition: all 0.3s ease;
}

.form-inner form .field input:focus {
  border-color: #c70c0c;
}

.form-inner form .field input::placeholder {
  color: #570039;
  transition: all 0.3s ease;
}

form .field input:focus::placeholder {
  color: #800202;
}

.form-inner form .pass-link,
.form-inner form .signup-link {
  margin-top: 5px;
  text-align: center;

}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #860303;
  text-decoration: none;
  font-weight: bold;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}

form .btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

form .btn:hover .btn-layer {
  left: 0;
}

form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #ecc4c4;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

#inicio,
#registro {
  color: #9f1818;
}

#signup_message {
  font-size: large;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}*/

.glowing-btn {
  display: flex;
  justify-content: center;
  color: var(--glow-color);
  cursor: pointer;

  border: 0.11em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.5em;
  width: 90%;
  margin-bottom: 20px;

  -webkit-box-shadow: inset 0px 0px 0.4em 0px var(--glow-color),
    0px 0px 0.4em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.4em 0px var(--glow-color),
    0px 0px 0.4em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.4em 0px var(--glow-color),
    0px 0px 0.4em 0px var(--glow-color);
  animation: border-flicker 3s linear infinite;
}

.glowing-txt {


  -webkit-text-shadow: 0 0 0.125em hsla(0, 0%, 0%, 0.5),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsla(0, 0%, 0%, 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsla(0, 0%, 0%, 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 4s linear infinite;
}

.faulty-letter {
  opacity: 0.7;
  animation: faulty-flicker 5s linear infinite;
}


.glowing-btn:hover {
  color: rgb(222, 49, 99);
  text-shadow: none;
  opacity: 50%;
  animation: none;
  border-color: var(--glow-color);
  /* Agregar color del borde */
  background: var(--glow-color);
  /* Agregar color de fondo */
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: none;
  /* Eliminar el efecto de desenfoque */
  opacity: 0;
  /* Ocultar el fondo */
}

.glowing-btn:hover:after {
  opacity: 0;
  /* Ocultar el resplandor */
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 0.1;
  }

  4% {
    opacity: 0.5;
  }

  19% {
    opacity: 0.5;
  }

  21% {
    opacity: 0.1;
  }

  23% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0.3;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }
}
.form-inner form.signup button {
  margin: 0 auto; /* Esto centrará horizontalmente el botón dentro de su contenedor */
}

